
body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
font-size: 16px;
box-sizing: 5px;  

}

/*Definimos los estilos para la cabecera de la página*/
header {
background-color: #333; 
color: #fff; 
padding: 20px;
text-align: left; 
}

/*Definimos los estilos para el contenido principal de la página*/
main {
padding: 20px; 
max-width: 800px; 
margin: 0 auto; 
}

/* Definimos los estilos para cada sección del contenido */
section {
margin-bottom: 70px; 
}

/* Definimos los estilos para el pie de página de la página*/
footer {
background-color: #333; 
color: #fff; 
text-align: center; 
padding: 20px;
clear: both; 
}

/* Opcionalmente, añadimos un margen inferior para separar el pie de página del contenido principal */
main {
  margin-bottom: 60px;
}

/* Definimos los estilos para el contenido principal de la página */
main {
margin-top: 150px; 
text-align: center; 
backdrop-filter: blur(50px);
border-radius: 10px; 
box-shadow: 5px 3px 10px rgb(3, 1, 1); 
}

/* Definimos los estilos para los enlaces de redes sociales */
.Redes .fb:hover{
color: blue; 
background: #ffffff;
border-radius: 10px;
}
.Redes .ig:hover {
color: rgba(235, 13, 224, 0.699);
background: #ffffff;
border-radius: 10px;
}
.Redes .tw:hover {
color: #1D9DF0;
background: #ffffff;
border-radius: 10px;
}
.Redes .yt:hover{
  color: rgba(255, 0, 0, 0.699);
  background: #ffffff;
  border-radius: 10px;
}

.Redes .what:hover{
  color: rgba(37, 172, 66, 0.979);
  background: #ffffff;
  border-radius: 10px;
}




.Copyrigth {
    text-align: center;
    font-size: 14px;
    color: #e9e7e7;
    opacity: 45%;

}
.Redes a{
  text-decoration: none;
  font-size: 30px;
  padding: 5px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 5px;

}


.Redes a:hover {
  
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 black ;
 
  filter: none;

}







/* Titulo*/


body {
    background-image: url('img/Fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.text{
 
    left:54px;
    
   
        
    font-family:'Montserrat';
    font-style:normal;
    font-weight:700;
    font-size:36px;
    line-height:44px;
        
    color: #000000;
        
}

.boton {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
    
  }
  
  .boton:hover {
    background-color: #58795a;
  }
  
  section h2{
    padding: 3px solid;
   
  }
  article img{
    width: 80px;
    margin: 10px;
  }

article .Servicio2{
  width: 180px;
  
  

}
.Servicio_1 {
width: 120px;
margin: 10px;
}
.boton:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 black ;
  color: #000000;
  background: #ffffff;
}
section p {
  font-size: 18px;
}
/*Boton Acceder*/
.Acceder {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  
  
  cursor: pointer;
  overflow: hidden;
  padding: 20px 40px;
  border-radius: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}



.Acceder:hover {
  background-color: #ffffff;
  color: #fdf6f6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.Acceder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background-color: #1baae3;
  transition: all 0.3s ease-out;
  z-index: -1;
  border-radius: 10px;
}

.Acceder:hover::before {
  width: 100%;
}

.Acceder a {
  color: inherit;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-out;
}

.Acceder:hover a {
  color: #000000;
}

.Acceder:active {
  transform: translateY(4px);
}

.Acceder:active::before {
  height: 50%;
}
main ul li{
  text-decoration: none;
  list-style: none;
}

/*Slider*/
.slider-container {
  margin: 0 auto;
  max-width: 800px;
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0, 10px, 10px black;
  margin-top: 150px;
  text-align:  center;
  border-radius: 10px;
  box-shadow: 5px 3px 10px rgb(3, 1, 1);
  
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  
  
}

.slide {
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
  
}

.slide img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

/* Agregamos flechas de navegación */
.slider-container .prev, .slider-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  color: #ffffff;
}

.slider-container .prev {
  left: 20px;
}

.slider-container .next {
  right: 20px;
}

/* Cambiamos el color de las flechas al pasar el mouse por encima */
.slider-container .prev:hover, .slider-container .next:hover {
  color: #555;
}

/* Cambiamos el estilo del punto activo */
.slider-container .dots {
  position: absolute;
  bottom: 20px;

  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slider-container .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-container .dot.active {
  background-color: #555;
}

